# SQLite. Versions 3.8.0 and up are supported.
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5000 } %>
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

production:
  adapter: postgresql
  database: db/production.sqlite3
  Database: postgresql-amorphous-86847
  # Host: ec2-3-224-184-9.compute-1.amazonaws.com
  # User: tfvdbdoshwxibg
  Port: 5432
  # Password: 11fa2cd9b0d1d1443f1f0c8070e390c94e9314a3f9f7793b3a9cdf19e58a21bc
